body {
    font-family: "poppins", sans-serif;
    background: linear-gradient(to right, #ece9e6, #ece9e6);
}
.navbar-custom{
    background-color: #333333;
}

.foto-perfil {
    width: 250px; 
    height: 250px;
    object-fit: cover;
    margin-bottom: 0.5rem; 
    border: 4px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.hero-section .card {
    max-width: 800px; 
    width: 100%;
    margin: 0 auto; 
    text-align: center; 
}

.navbar-custom .nav-link {
    transition: all 0.3s ease; 
    border-radius: 8px;
}

.navbar-custom .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.185); 
}

.container .card {
    border-radius: 15px;
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    border-right: 1px solid rgb(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px);          
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.social-icon {
    font-size: 2rem;
    color: #343a40;
    margin: 0 0.75rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
    color: #007bff;
    transform: translateY(-3px);
}

footer .social-icon {
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
}

.admin-only {
    display: none !important;
}

body.admin-mode .admin-only {
    display: inline-block !important;
}
